<h1>Your Profile Info!</h1>

<% if !notice.nil? %>
  <div id="notice" class="alert alert-info mt-4 alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= notice %>
  </div>
<% end %>

<dl>
  <dt><strong>Firstname:</strong></dt>
  <dd><%= @user.firstname %></dd>
  <dt><strong>Lastname:</strong></dt>
  <dd><%= @user.lastname %></dd>
  <dt><strong>Email Address:</strong></dt>
  <dd><%=@user.email %></dd>
  <dt><strong>Project:</strong></dt>
  <dd>You have <%= pluralize(@project.count, "project") %> </dd>
</dl>

<%= link_to user_projects_path(@user) , class: "btn btn-sm btn-secondary" do %>
      <i class='fa fa-arrow-left'></i>
<% end %>
<%= link_to edit_user_path(@user),   class: "btn btn-sm btn-primary ml-2" do %>
      <i class='fa fa-edit'></i>
<% end %> 

 
