
<% if !notice.nil? %>
  <div id="notice" class="alert alert-info mt-4 alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= notice %>
  </div>
<% end %>

<h1>Projects</h1>
<div class="row">
  
  <div class="col-8 ">
    
    <%= link_to :new_user_project, class: 'btn btn-primary float-right mb-2' do %>
      <i class="fa fa-plus"></i> New Project
    <% end %>
    <table class="table table-sm table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Expected completion date</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= link_to project.title, user_project_path(@user,project), class: '' %></td>
            <td class="desc"><%= project.description %></td>
            <td><%= Date.parse(project.exp_completion_date.to_s, '%Y-%m-%d') %></td>
            <td>
              <%= link_to edit_user_project_path(@user,project),class: 'btn btn-sm btn-primary' do %>
                  <i class='fa fa-edit'></i>
              <% end %>
              <%= link_to user_project_path(@user,project), method: :delete, data:{ confirm: 'Are you sure?' },class: 'btn btn-sm btn-danger' do %>
                  <i class='fa fa-trash'></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

   <div class="col-4 ">
    <h4 class="mt-2">Collaboration Projects</h4>
    <table class="table table-sm table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= link_to project.title, user_project_path(@user,project), class: '' %></td>
            <td class="desc"><%= project.description %></td>
            <td>
              <%= link_to user_project_path(@user,project), method: :delete, data:{ confirm: 'Are you sure?' },class: 'btn btn-sm btn-danger' do %>
                  <i class='fa fa-trash'></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
