<% if !notice.nil? %>
  <div id="notice" class="alert alert-info mt-4 alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= notice %>
  </div>
<% end %>

<div class="page-header">
 <h3><%= @project.title %></h3>
</div>

<dl>
  <dt><strong>Title:</strong></dt>
  <dd><%= @project.title %></dd>
  <dt><strong>Description:</strong></dt>
  <dd><%= @project.description %></dd>
  <dt><strong>Expected completion date:</strong></dt>
  <dd><%= Date.parse(@project.exp_completion_date.to_s, '%Y-%m-%d') %></dd>
  <dt><strong>Completion date:</strong></dt>
  <dd><%= (!@project.completion_date.nil?)? Date.parse(@project.completion_date.to_s, '%Y-%m-%d') : 'On going' %></dd>
</dl>
<div>
  <dl>
  <dt><strong>Project Users:</strong></dt>
  <dd>
    
  </dd>
</dl>
</div>
<div class="projects-actions">
  <%= link_to user_projects_path(@user), class: "btn btn-sm btn-warning", 'data-toggle'=>"tooltip", 'data-placement'=>"top", title:"Back to project list" do %>
    <i class="fa fa-arrow-left"></i>
  <% end %>
  <%= link_to edit_user_project_path(@user,@project), class: "btn btn-sm btn-primary" do %> 
    <i class="fa fa-edit"></i>
  <% end %>
  <%= link_to  user_projects_path(@user), class: "btn btn-sm btn-secondary" do %> 
    <i class="fa fa-paperclip"></i>
  <% end %>
  <%= link_to user_projects_path(@user), class: "btn btn-sm btn-success" do %>
    <i class="fa fa-user"></i>
  <% end %>
</div>

<div class="container mt-5">
  <div class="">
      <%= form_for [@user, @project, @app_thread], method: :post do |f| %>
        <div class="input-group col-5">
          <%= f.text_field :th_content, placeholder:'Add Thread', required:'required', class:'form-control ', size: "7x2" %>
          <div class="input-group-append">
              <%= f.button type:'submit', class:'btn btn-outline-secondary align-self-end ' do %>
                <i class="fa fa-paper-plane"></i>
              <% end %>
          </div>
        </div>
      <% end %>
  </div>

  <div class="">
    <% @app_threads.each do |thread| %>
      <%
          t_date = Date.parse(thread.created_at.to_s, '%MMM %dd, %Y')
          user_init = (@user['firstname'][0] + @user['lastname'][0]).upcase
          user_fullname = @user['firstname'] + ' ' + @user['lastname']
      %>
      <section id='<%= thread.id %>'>
        <%#= link_to thread.th_content, project_app_thread_path(@project,thread.id) %>
        <div class="popup-messages">
          <div class="direct-chat-messages">
            <div class="chat-box-single-line">
              <abbr class="timestamp"><%= t_date %></abbr>
            </div>	
            <!-- Message. Default to the left -->
            <div class="direct-chat-msg">
              <div class="direct-chat-info clearfix">
                <span class="direct-chat-name pull-left"> <small><strong>Thread by:</strong> <%= user_fullname %></small></span>
              </div>
              <!-- /.direct-chat-info -->
               <div class="direct-chat-img"><%= user_init %></div>
              <div class="direct-chat-text">
                <%= link_to user_project_app_thread_path(@user,@project,thread) do %>
                  <small><%= thread.th_content %></small>
                <% end %>
                <span class="d-flex pull-right">
                  <%= link_to user_project_app_thread_path(@user,@project,thread), class:'mr-2' do %>
                      <i class="fa fa-eye"></i>
                  <% end %>
                  <%= link_to edit_user_project_app_thread_path(@user,@project,thread), class:'mr-2' do %>
                      <i class="fa fa-edit"></i>
                  <% end %>
                  <%= link_to user_project_app_thread_path(@user,@project,thread), method: :delete, data:{confirm:'Delete Thread?'} do %>
                      <i class="fa fa-trash" style='color:red'></i>
                  <% end %>
                </span>
              </div>
              <div class="direct-chat-info clearfix">
                <span class="direct-chat-timestamp pull-right"><%= time_ago_in_words(thread.created_at) %></span>
              </div>
             <!--/.direct-chat-text -->
            </div>
            <!-- /.direct-chat-msg -->
          </div>
        </div>
      </section>
    <% end %>
  </div>
  <div class="projects-actions m-4">
    <%= link_to user_projects_path(@user), class: "btn btn-sm btn-warning", 'data-toggle'=>"tooltip", 'data-placement'=>"top", title:"Back to project list" do %>
      <i class="fa fa-arrow-left"></i>
    <% end %>
    <%= link_to edit_user_project_path(@user,@project), class: "btn btn-sm btn-primary" do %> 
      <i class="fa fa-edit"></i>
    <% end %>
    <%= link_to  user_projects_path(@user), class: "btn btn-sm btn-secondary" do %> 
      <i class="fa fa-paperclip"></i>
    <% end %>
    <%= link_to user_projects_path(@user), class: "btn btn-sm btn-success" do %>
      <i class="fa fa-user"></i>
    <% end %>
  </div>
</div>


