<%= form_with(model: thread_message, local: true) do |form| %>
  <% if thread_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(thread_message.errors.count, "error") %> prohibited this thread_message from being saved:</h2>

      <ul>
        <% thread_message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :thread_id %>
    <%= form.number_field :thread_id %>
  </div>

  <div class="field">
    <%= form.label :tm_content %>
    <%= form.text_field :tm_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
