<p id="notice"><%= notice %></p>

 <div class="container">
    <% @app_threads.each do |thread| %>
      <%
          t_date = Date.parse(thread.created_at.to_s, '%MMM %dd, %Y')
          user_init = (@user['firstname'][0] + @user['lastname'][0]).upcase
          user_fullname = @user['firstname'] + ' ' + @user['lastname']
      %>
      <section id='<%= thread.id %>'>
        <%#= link_to thread.th_content, project_app_thread_path(@project,thread.id) %>
        <div class="popup-messages">
          <div class="direct-chat-messages">
            <div class="chat-box-single-line">
              <abbr class="timestamp"><%= t_date %></abbr>
            </div>	
            <!-- Message. Default to the left -->
            <div class="direct-chat-msg doted-border">
              <div class="direct-chat-info clearfix">
                <span class="direct-chat-name pull-left"> <small><strong>Thread by:</strong> <%= user_fullname %></small></span>
              </div>
              <!-- /.direct-chat-info -->
              <!--<img alt="message user image" src="http://bootsnipp.com/img/avatars/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" class="direct-chat-img">
               /.direct-chat-img -->
               <div class="direct-chat-img"><%= user_init %></div>
              <div class="direct-chat-text">
                <%= link_to user_project_app_thread_path(@user,@project,thread) do %>
                  <small><%= thread.th_content %></small>
                <% end %>
                <span class="d-flex pull-right">
                  <%= link_to user_project_app_thread_path(@user,@project,thread), class:'mr-2' do %>
                      <i class="fa fa-eye"></i>
                  <% end %>
                  <%= link_to edit_user_project_app_thread_path(@user,@project,thread), class:'mr-2' do %>
                      <i class="fa fa-edit"></i>
                  <% end %>
                  <%= link_to user_project_app_thread_path(@user,@project,thread), method: :delete, data:{confirm:'Delete Thread?'} do %>
                      <i class="fa fa-trash" style='color:red'></i>
                  <% end %>
                </span>
              </div>
              <div class="direct-chat-info clearfix">
                <span class="direct-chat-timestamp pull-right"><%= time_ago_in_words(thread.created_at) %></span>
              </div>
              <!--
              <div class="direct-chat-info clearfix">
                <span class="direct-chat-img-reply-small pull-left">
                </span>
                <span class="direct-chat-reply-name"></span>
              </div>
             /.direct-chat-text -->
            </div>
            <!-- /.direct-chat-msg -->
          </div>
        </div>
      </section>
    <% end %>
  </div>

<%= link_to 'Edit', edit_thread_message_path(@thread_message) %> |
<%= link_to 'Back', thread_messages_path %>
