<%= form_with(model: app_thread, local: true) do |form| %>
  <% if app_thread.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(app_thread.errors.count, "error") %> prohibited this app_thread from being saved:</h2>

      <ul>
        <% app_thread.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.number_field :project_id %>
  </div>

  <div class="field">
    <%= form.label :th_content %>
    <%= form.text_area :th_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
