<!DOCTYPE html>
<html>
  <head>
    <title>SmartBaseCamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar_admin' %> 
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
